## Selecionando por índice

E se eu quiser pegar os valores de uma linha específica do dataframe?

In [2]:
# Qual comando eu usaria para pegar o registro da linha 11?

Também posso ver só o valor de uma coluna, sem escrever o nome, somente pela sua posição

In [95]:
# E para pegar a primeira coluna do dataset?

Mais detalhes sobre `loc`, `iloc` e `ix` podem ser vistas nesse [link](https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/)

### Desafio 2

Será que temos uma quantidade gigante de nulos nesse dataset porque as pessoas não preencheram essas perguntas por multipla escolha ou por que responderam no modo livre? 

Para validar essa hipótese teremos que carregar o outro dataset, que contém as respostas das perguntas em forma livre e juntar (Pelo menos uma das variáveis) dos dois os datasets. Eu escolhi `DataScienceIdentity`

![challenge_panda](https://media.giphy.com/media/K9z3im98oo9Ve/giphy.gif)

In [2]:
# a ideia do desafio é verificar se quando o índice de um dataset tem resposta no outro dataset esse índice é nulo 
#- Ou seja: Vamos comparar as linhas dos datasets

## Alterando o dataset original

In [96]:
# Primeiro vamos copiar o dataset original para outra variável, para não dar pau no resto da aula :P

In [97]:
# Agora vamos ver os valores da coluna LearningDataScience

In [46]:
def replace_value(row):
    if row == "Yes, I'm focused on learning mostly data science skills":
        return "yes"
    elif row == "Yes, but data science is a small part of what I'm focused on learning":
        return "so so"
    elif row == "No, I am not focused on learning data science skills":
        return "no"

In [98]:
# Agora vamos aplicar a função replace_value a todas as linhas do LearningDataScience. 
# Crie uma nova coluna chamada LearningDataScienceSimple

Agora podemos ver os novos valores desses campos

In [99]:
# Agora vamos ver os valores da coluna LearningDataScienceSimple

In [49]:
# Qual o shape do dataset atual?

(16716, 229)

E agora que a outra coluna muito complexa não serve mais, podemos descartá-la

In [50]:
# Descarte a coluna LearningDataScience

In [100]:
# Qual o shape do dataset atual?

Pela quantidade de linhas no dataset percebemos que o `value_counts()` não retorna os valores nulos - e nós temos MUITOS valores nulos nessa coluna. Podemos utilizar um método do pandas para trocar os NAs por uma categoria nossa.

In [101]:
# Substitua os nulos pela frase "did not answer the question"

In [102]:
# Agora vamos ver os valores da coluna LearningDataScienceSimple

Outra forma de alterar o dataset é utilizando funções _in place_. Para isso utilizaremos o `lambda`

Por exemplo: E se eu quiser atualizar a idade dos participantes? O dataset foi coletado em 2017 e já estamos em 2018

In [103]:
# Ao invés de usar uma função que soma +1, vamos escrever a nossa com o lambda

Vamos ver se funcionou? Vamos dar uma olhada nos primeiros 5 registros, com a coluna 'Age' e a 'NewAge' lado a lado

Ficou mais claro a proporção de pessoas que não responderam agora o/

### Desafio 3

Separar os datasets pelas pessoas que os responderam. Para isso você vai ter que carregar o dataset `schema.csv`.

Como uns datasets ficariam muito pequenos, sugiro que você utilize os seus conhecimentos recém adquiridos e crie 4 datasets distintos. Além de criá-los você deve salvá-los como `.csv`. Vamos usar esses datasets na próxima aula.

![panda_playground](https://media.giphy.com/media/ieaUdBJJC19uw/giphy.gif)