# Dataset:  California Housing Prices

## Case baseado no dataset do Kaggle

Esse desafio é baseado em um dataset aberto do Kaggle ([https://www.kaggle.com](https://www.kaggle.com)) de 2018, de onde é possível estimar o preço de um imóvel pertencente a uma dada região na Califórnia. 

O dataset original foi extraído do repositório StatLib, que não está mais disponível. Os dados que o compôem foram retirados do Censo realizado na Califórnia em 1990 e modificado para servir como base de treinamento.


Link para o dataset no Kaggle: [https://www.kaggle.com/harrywang/housing/data](https://www.kaggle.com/harrywang/housing/data)


## Descrição dos Dados Originais:

### Tamanho do Dataset:

* `20.640` data points

### Variável dependente:

* `median_house_value`:  (float) variável dependente com o valor da mediana do preço de imóvel na região

### Features: 

* `longitude`/`latitude`: (floats) posição global da região
* `housing_median_age`: (float) mediana da idade (em anos) das casas da região
* `total_rooms`: (float) total de aposentos da região
* `total_bedrooms`: (float) total de quartos da região
* `population`: (float) população total da região
* `households`: (float) quantidade total de imóveis da região
* `median_income`: (float) mediana do salário (por hora) de uma pessoa na região
* `ocean_proximity`: (string) categorias relativas à distância do oceano

É interessante ressaltar que `207` valores foram retirados aleatoriamnete da feature `total_bedrooms` por motivos acadêmicos.


## Modificação dos dados para o Desafio:

Para tornar o desafio mais fácil de avaliar, a massa de dados original foi dividida em duas massas, uma para treino e outra para teste, ambas contendo `10.320` elementos.

Também foram removidos aleatoriamente ainda mais valores da massa de dados e em mais features. Isso torna o processo de Feature Engineering mais instrutivo, pois aproxima-se da realidade do trabalho de um Data Scientist.

___

# Imports

## Magic Functions do Jupyter

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
%matplotlib inline

## Imports de Libs Externas (padrão)

In [3]:
import numpy as np
import os
import pandas as pd

## Imports de Libs Locais

In [4]:
from dataset import load_california_housing_prices

# Carregando os dados

In [5]:
dataset = load_california_housing_prices()

In [6]:
dataset

{'test': {'x':            longitude  latitude  housing_median_age  total_rooms  \
  region_id
  0            -122.23     37.88                41.0        880.0
  3            -122.25     37.85                52.0       1274.0
  5            -122.25     37.85                52.0        919.0
  6            -122.25     37.84                52.0       2535.0
  7            -122.25     37.84                52.0       3104.0
  8            -122.26     37.84                42.0       2555.0
  14           -122.26     37.85                52.0       2643.0
  15           -122.26     37.85                50.0       1120.0
  17           -122.27     37.85                52.0       1228.0
  19           -122.27     37.84                52.0       1503.0
  20           -122.27     37.85                40.0        751.0
  23           -122.27     37.84                52.0       1688.0
  27           -122.28     37.85                52.0       1898.0
  29           -122.28     37.84                52.0        729.0
  30           -122.28     37.84                49.0       1916.0
  31           -122.28     37.84                52.0       2153.0
  33           -122.27     37.83                49.0       1655.0
  34           -122.27     37.83                51.0       2665.0
  35           -122.27     37.83                49.0       1215.0
  36           -122.27     37.83                48.0       1798.0
  38           -122.26     37.83                52.0       1470.0
  39           -122.26     37.83                52.0       2432.0
  41           -122.26     37.83                51.0        936.0
  42           -122.26     37.84                49.0        713.0
  43           -122.26     37.84                52.0        950.0
  46           -122.26     37.83                50.0       1125.0
  47           -122.27     37.82                43.0       1007.0
  49           -122.27     37.82                40.0        946.0
  50           -122.27     37.82                21.0        896.0
  51           -122.27     37.82                43.0       1868.0
  ...              ...       ...                 ...          ...
  20578        -121.81     38.84                37.0        352.0
  20579        -121.72     38.80                36.0       1069.0
  20581        -122.21     38.83                20.0       1138.0
  20582        -122.16     38.90                33.0       1221.0
  20586        -122.03     38.69                23.0       1796.0
  20588        -121.59     39.15                 5.0       1922.0
  20589        -121.59     39.15                48.0       1783.0
  20590        -121.59     39.14                 NaN       1492.0
  20593        -121.58     39.16                36.0       1206.0
  20596        -121.57     39.16                33.0       2033.0
  20597        -121.58     39.16                33.0       1897.0
  20600        -121.57     39.16                18.0       1632.0
  20601        -121.57     39.13                30.0        442.0
  20604        -121.54     39.12                17.0       4251.0
  20605        -121.58     39.12                26.0       2796.0
  20606        -121.57     39.12                30.0       2601.0
  20607        -121.57     39.10                28.0       1442.0
  20609        -121.56     39.11                18.0       2171.0
  20610        -121.56     39.10                28.0       2130.0
  20611        -121.55     39.10                27.0       1783.0
  20612        -121.56     39.08                26.0       1377.0
  20614        -121.54     39.08                26.0       2276.0
  20617        -121.53     39.06                20.0        561.0
  20627        -121.32     39.13                 5.0        358.0
  20628        -121.48     39.10                19.0       2043.0
  20630        -121.32     39.29                11.0       2640.0
  20633        -121.53     39.19                27.0       2080.0
  20635        -121.09     39.48                25.0       1665.0
  20636        -121.21     39.49                18.0        697.0
  20638        -121.32     39.43                18.0       1860.0

             total_bedrooms  population  households  median_income  \
  region_id
  0                   129.0       322.0       126.0         8.3252
  3                   235.0       558.0       219.0         5.6431
  5                   213.0       413.0       193.0            NaN
  6                   489.0      1094.0       514.0         3.6591
  7                   687.0      1157.0       647.0         3.1200
  8                   665.0      1206.0       595.0         2.0804
  14                  626.0      1212.0       620.0         1.9167
  15                  283.0       697.0       264.0         2.1250
  17                  293.0       648.0       303.0         2.1202
  19                  298.0       690.0       275.0         2.6033
  20                  184.0       409.0       166.0         1.3578
  23                  337.0       853.0       325.0         2.1806
  27                  421.0      1102.0       397.0         1.8080
  29                  160.0       395.0       155.0         1.6875
  30                  447.0       863.0       378.0         1.9274
  31                  481.0      1168.0       441.0         1.9615
  33                  366.0       754.0       329.0         1.3750
  34                  574.0      1258.0       536.0         2.7303
  35                  282.0       570.0       264.0         1.4861
  36                  432.0       987.0       374.0         1.0972
  38                  330.0       689.0       309.0         3.4800
  39                  715.0      1377.0       696.0         2.5898
  41                  311.0       517.0       249.0         1.2852
  42                  202.0       462.0       189.0         1.0250
  43                  202.0       467.0       198.0         3.9643
  46                  322.0       616.0       304.0         2.0260
  47                  312.0       558.0       253.0         1.7348
  49                  375.0       700.0       352.0         1.7750
  50                  453.0       735.0       438.0         0.9218
  51                  456.0      1061.0       407.0         1.5045
  ...                   ...         ...         ...            ...
  20578                65.0       238.0        67.0         2.8542
  20579               228.0       567.0       190.0         1.9559
  20581               221.0       459.0       209.0         3.1534
  20582               236.0       488.0       199.0         3.7574
  20586               380.0       939.0       330.0         2.7955
  20588               489.0       938.0       439.0         2.0474
  20589               399.0       938.0       374.0         1.6652
  20590               350.0       804.0       353.0         1.6840
  20593               197.0       537.0       204.0         3.3611
  20596               375.0       914.0       330.0         2.6964
  20597               378.0       888.0       385.0         2.1111
  20600               367.0       769.0       330.0            NaN
  20601               103.0       413.0        88.0         1.5694
  20604               899.0      3265.0       934.0         2.3496
  20605               629.0      2017.0       632.0         1.8355
  20606               534.0      1702.0       506.0         2.0800
  20607               333.0       832.0       286.0         1.8413
  20609               480.0      1527.0       447.0         2.3011
  20610               484.0      1195.0       439.0         1.3631
  20611               441.0      1163.0       409.0         1.2857
  20612               289.0       761.0       267.0         1.4934
  20614               460.0      1455.0       474.0         2.4695
  20617               109.0       308.0       114.0         3.3021
  20627                65.0       169.0        59.0         3.0000
  20628               421.0      1018.0       390.0         2.5952
  20630               505.0      1257.0       445.0         3.5673
  20633               412.0      1082.0       382.0         2.5495
  20635               374.0       845.0       330.0         1.5603
  20636               150.0       356.0       114.0         2.5568
  20638               409.0       741.0       349.0         1.8672

            ocean_proximity
  region_id
  0                NEAR BAY
  3                NEAR BAY
  5                NEAR BAY
  6                NEAR BAY
  7                NEAR BAY
  8                NEAR BAY
  14               NEAR BAY
  15               NEAR BAY
  17               NEAR BAY
  19               NEAR BAY
  20               NEAR BAY
  23               NEAR BAY
  27               NEAR BAY
  29               NEAR BAY
  30               NEAR BAY
  31               NEAR BAY
  33               NEAR BAY
  34               NEAR BAY
  35               NEAR BAY
  36               NEAR BAY
  38               NEAR BAY
  39               NEAR BAY
  41               NEAR BAY
  42               NEAR BAY
  43               NEAR BAY
  46               NEAR BAY
  47               NEAR BAY
  49               NEAR BAY
  50               NEAR BAY
  51               NEAR BAY
  ...                   ...
  20578              INLAND
  20579              INLAND
  20581              INLAND
  20582              INLAND
  20586              INLAND
  20588              INLAND
  20589              INLAND
  20590              INLAND
  20593              INLAND
  20596              INLAND
  20597              INLAND
  20600              INLAND
  20601              INLAND
  20604              INLAND
  20605              INLAND
  20606              INLAND
  20607              INLAND
  20609              INLAND
  20610              INLAND
  20611              INLAND
  20612              INLAND
  20614              INLAND
  20617              INLAND
  20627              INLAND
  20628              INLAND
  20630              INLAND
  20633              INLAND
  20635              INLAND
  20636              INLAND
  20638              INLAND

  [10320 rows x 9 columns], 'y':            median_house_value
  region_id
  0                    452600.0
  3                    341300.0
  5                    269700.0
  6                    299200.0
  7                    241400.0
  8                    226700.0
  14                   159200.0
  15                   140000.0
  17                   155500.0
  19                   162900.0
  20                   147500.0
  23                    99700.0
  27                   105500.0
  29                   132000.0
  30                   122300.0
  31                   115200.0
  33                   104900.0
  34                   109700.0
  35                    97200.0
  36                   104500.0
  38                   191400.0
  39                   176000.0
  41                   150000.0
  42                   118800.0
  43                   188800.0
  46                   142500.0
  47                   137500.0
  49                   112500.0
  50                   171900.0
  51                    93800.0
  ...                       ...
  20578                275000.0
  20579                 78400.0
  20581                123400.0
  20582                 92700.0
  20586                 96300.0
  20588                 61300.0
  20589                 58900.0
  20590                 71300.0
  20593                 79800.0
  20596                 68500.0
  20597                 68700.0
  20600                 71700.0
  20601                 57900.0
  20604                 65000.0
  20605                 61200.0
  20606                 56600.0
  20607                 62300.0
  20609                 57500.0
  20610                 45500.0
  20611                 47000.0
  20612                 48300.0
  20614                 58000.0
  20617                 70800.0
  20627                162500.0
  20628                 92400.0
  20630                112000.0
  20633                 98300.0
  20635                 78100.0
  20636                 77100.0
  20638                 84700.0

  [10320 rows x 1 columns]},
 'train': {'x':            longitude  latitude  housing_median_age  total_rooms  \
  region_id
  1            -122.22     37.86                21.0       7099.0
  2            -122.24     37.85                52.0       1467.0
  4            -122.25     37.85                52.0       1627.0
  9            -122.25     37.84                52.0       3549.0
  10           -122.26     37.85                52.0       2202.0
  11           -122.26     37.85                52.0       3503.0
  12           -122.26     37.85                52.0       2491.0
  13           -122.26     37.84                52.0        696.0
  16           -122.27     37.85                52.0       1966.0
  18           -122.26     37.84                50.0       2239.0
  21           -122.27     37.85                42.0       1639.0
  22           -122.27     37.84                52.0       2436.0
  24           -122.27     37.84                52.0       2224.0
  25           -122.28     37.85                41.0        535.0
  26           -122.28     37.85                49.0       1130.0
  28           -122.28     37.84                50.0       2082.0
  32           -122.27     37.84                48.0       1922.0
  37           -122.28     37.83                52.0       1511.0
  40           -122.26     37.83                52.0       1665.0
  44           -122.26     37.83                52.0       1443.0
  45           -122.26     37.83                52.0       1656.0
  48           -122.26     37.82                40.0        624.0
  53           -122.27     37.82                52.0       1630.0
  55           -122.28     37.82                52.0        945.0
  56           -122.28     37.82                52.0       1238.0
  58           -122.28     37.82                52.0       1387.0
  60           -122.29     37.83                52.0       1121.0
  64           -122.30     37.81                48.0        828.0
  66           -122.30     37.81                48.0       1455.0
  67           -122.29     37.80                52.0       1027.0
  ...              ...       ...                 ...          ...
  20584        -121.95     38.65                19.0       1265.0
  20585        -122.04     38.68                26.0       1113.0
  20587        -121.60     39.15                19.0       1396.0
  20591        -121.58     39.15                34.0       1376.0
  20592        -121.58     39.14                52.0        662.0
  20594        -121.57     39.16                21.0       1872.0
  20595        -121.56     39.16                12.0       3349.0
  20598        -121.58     39.15                38.0       1756.0
  20599        -121.56     39.16                35.0       2157.0
  20602        -121.56     39.13                17.0       2277.0
  20603        -121.54     39.13                18.0       4289.0
  20608        -121.59     39.10                24.0       1107.0
  20613        -121.55     39.09                31.0       1728.0
  20615        -121.54     39.08                23.0       1076.0
  20616        -121.53     39.08                15.0       1810.0
  20618        -121.55     39.06                25.0       1332.0
  20619        -121.56     39.01                22.0       1891.0
  20620        -121.48     39.05                40.0        198.0
  20621        -121.47     39.01                37.0       1244.0
  20622        -121.44     39.00                20.0        755.0
  20623        -121.37     39.03                32.0       1158.0
  20624        -121.41     39.04                16.0       1698.0
  20625        -121.52     39.12                37.0        102.0
  20626        -121.43     39.18                36.0       1124.0
  20629        -121.39     39.12                28.0      10035.0
  20631        -121.40     39.33                15.0       2655.0
  20632        -121.45     39.26                15.0       2319.0
  20634        -121.56     39.27                28.0       2332.0
  20637        -121.22     39.43                 NaN       2254.0
  20639        -121.24     39.37                16.0       2785.0

             total_bedrooms  population  households  median_income  \
  region_id
  1                  1106.0      2401.0      1138.0         8.3014
  2                   190.0       496.0       177.0         7.2574
  4                   280.0       565.0       259.0         3.8462
  9                   707.0      1551.0       714.0         3.6912
  10                  434.0       910.0       402.0         3.2031
  11                  752.0      1504.0       734.0         3.2705
  12                  474.0      1098.0       468.0         3.0750
  13                  191.0       345.0       174.0         2.6736
  16                  347.0         NaN       331.0         2.7750
  18                  455.0       990.0       419.0         1.9911
  21                  367.0       929.0       366.0         1.7135
  22                  541.0      1015.0       478.0         1.7250
  24                  437.0      1006.0       422.0         2.6000
  25                  123.0       317.0       119.0         2.4038
  26                  244.0       607.0       239.0         2.4597
  28                  492.0      1131.0       473.0         1.6424
  32                  409.0      1026.0       335.0         1.7969
  37                  390.0       901.0       403.0         1.4103
  40                  419.0       946.0       395.0         2.0978
  44                  311.0       660.0       292.0         3.0125
  45                  420.0       718.0       382.0         2.6768
  48                  195.0       423.0       160.0         0.9506
  53                  456.0      1162.0       400.0         1.2475
  55                  243.0       576.0       220.0         1.4113
  56                  288.0       622.0       259.0         1.5057
  58                  341.0      1074.0       304.0         1.2171
  60                  211.0       554.0       187.0         3.3929
  64                  182.0       392.0       133.0         2.5938
  66                  354.0       788.0       332.0         0.8056
  67                  244.0       492.0       147.0         2.6094
  ...                   ...         ...         ...            ...
  20584               228.0       755.0       218.0         3.3472
  20585               222.0       689.0       234.0         3.0486
  20587               336.0       940.0       309.0         1.5208
  20591               376.0       702.0       317.0         1.4946
  20592               160.0       520.0       149.0         0.8928
  20594               302.0       870.0       301.0         3.7250
  20595               642.0      2029.0       619.0         2.9647
  20598               396.0       837.0       401.0         1.9122
  20599               441.0      1009.0       409.0         1.5827
  20602               608.0      1607.0       562.0         1.5085
  20603              1021.0      2707.0       939.0         1.3375
  20608               261.0       768.0       205.0         1.7167
  20613               365.0      1167.0       384.0         1.4958
  20615               216.0       724.0       197.0         2.3598
  20616               441.0      1157.0       375.0         2.0469
  20618               247.0       726.0       226.0         2.2500
  20619               340.0      1023.0       296.0            NaN
  20620                41.0         NaN        48.0         4.5625
  20621               247.0       484.0       157.0         2.3661
  20622               147.0       457.0       157.0         2.4167
  20623               244.0       598.0       227.0         2.8235
  20624               300.0       731.0       291.0            NaN
  20625                17.0        29.0        14.0         4.1250
  20626               184.0       504.0       171.0         2.1667

In [7]:
print(f"shape: {dataset['train']['x'].shape}")
dataset["train"]["x"].head()

shape: (10320, 9)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
region_id,,,,,,,,,
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,NEAR BAY
9,-122.25,37.84,52.0,3549.0,707.0,1551.0,714.0,3.6912,NEAR BAY
10,-122.26,37.85,52.0,2202.0,434.0,910.0,402.0,3.2031,NEAR BAY

In [8]:
print(f"shape: {dataset['train']['y'].shape}")
dataset['train']['y'].head()

shape: (10320, 1)

           median_house_value
region_id
1                    358500.0
2                    352100.0
4                    342200.0
9                    261100.0
10                   281500.0

In [9]:
print(f"shape: {dataset['test']['x'].shape}")
dataset['test']['x'].head()

shape: (10320, 9)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
region_id,,,,,,,,,
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,NEAR BAY
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,NaN,NEAR BAY
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,NEAR BAY
7,-122.25,37.84,52.0,3104.0,687.0,1157.0,647.0,3.1200,NEAR BAY

In [10]:
print(f"shape: {dataset['test']['y'].shape}")
dataset['test']['y'].head()

shape: (10320, 1)

           median_house_value
region_id
0                    452600.0
3                    341300.0
5                    269700.0
6                    299200.0
7                    241400.0